Smart Farm (Node-Red flow).json
[{"id":"2ac0b7ccf22d33df","type":"tab","label":"Light Node ","disabled":false,"info":"","env":[]},{"id":"244ed9d7fcf23b16","type":"mqtt in","z":"2ac0b7ccf22d33df","name":"Light Node (Upper Tray)","topic":"tele/light_node2","qos":"0","datatype":"auto-detect","broker":"92799e6ceb26ce4c","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":200,"wires":[["d11946dd4eca0d33","4c2625e79c303925","a4869eef65084c33","20e012c778455b90","986b9e05d67f4bf8","8fc60f5684cae73e","dbb7abdfd6b893ea","59fbc93d5826918a","6ad28786ede5f5e3","fbaf012ab9083968","d9ec818598a3e112","728123eb990ead9e","2d668d805ba47c2e","e11a9e744a0b27a2","a359c5e3055605f9","1a095d31bc404983","5d827448ca0dd6c5","6cb108c71153f95e","66a2b1f214bc198f","53edc850ba9c1e13","4d403cb1ae140d17","24d321574acfa699","cfef65b7dade27a6","ca1ee6f57f6bd2fa"]]},{"id":"d11946dd4eca0d33","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"illuminance 1","entityConfig":"422d1c31d1be6a0f","version":0,"state":"payload.LTR390.Lux","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"x":810,"y":140,"wires":[[]]},{"id":"87b08422273e6a8f","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"UV Index 1","entityConfig":"984777e35fe5df41","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":200,"wires":[[]]},{"id":"4c2625e79c303925","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"415nm/Violet/1","entityConfig":"aa2550ec5bd7e16d","version":0,"state":"payload.AS7341[\"415nm/Violet\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":260,"wires":[[]]},{"id":"a4869eef65084c33","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"445nm//Indigo/1","entityConfig":"1081ec4a87c3a11d","version":0,"state":"payload.AS7341[\"445nm/Indigo\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":320,"wires":[[]]},{"id":"20e012c778455b90","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"480nm/Blue/1","entityConfig":"02922d147e24beeb","version":0,"state":"payload.AS7341[\"480nm/Blue\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":380,"wires":[[]]},{"id":"986b9e05d67f4bf8","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"515nm//Cyan/1","entityConfig":"c1e52103b14fe733","version":0,"state":"payload.AS7341[\"15nm/Cyan\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":440,"wires":[[]]},{"id":"8fc60f5684cae73e","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"555nm/Green/1","entityConfig":"ea32de18c7e2269b","version":0,"state":"payload.AS7341[\"555nm/Green\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":500,"wires":[[]]},{"id":"dbb7abdfd6b893ea","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"590nm/Yellow/1","entityConfig":"b6ce10d64dcc146f","version":0,"state":"payload.AS7341[\"590nm/Yellow\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":560,"wires":[[]]},{"id":"59fbc93d5826918a","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"630nm/Orange/1","entityConfig":"aaa61786adb256c4","version":0,"state":"payload.AS7341[\"630nm/Orange\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":620,"wires":[[]]},{"id":"6ad28786ede5f5e3","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"680nm/Red/1","entityConfig":"7fd9e24935733b20","version":0,"state":"payload.AS7341[\"680nm/Red\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":680,"wires":[[]]},{"id":"fbaf012ab9083968","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"NIR/1","entityConfig":"affc43c61adc4013","version":0,"state":"payload.AS7341[\"Near-IR (NIR)\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":790,"y":740,"wires":[[]]},{"id":"d9ec818598a3e112","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"Clear/1","entityConfig":"7b87367611c7ccc2","version":0,"state":"payload.AS7341.Clear","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":800,"y":800,"wires":[[]]},{"id":"5fb577cc24699cea","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Lux1","measurement":"lux1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1190,"y":40,"wires":[]},{"id":"728123eb990ead9e","type":"function","z":"2ac0b7ccf22d33df","name":"function 1","func":"var lux = msg.payload.LTR390.Lux\nmsg.payload = lux\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":40,"wires":[["5fb577cc24699cea"]]},{"id":"2d668d805ba47c2e","type":"function","z":"2ac0b7ccf22d33df","name":"function 2","func":"var uvi = msg.payload.LTR390.UVI\nmsg.payload = uvi\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":80,"wires":[["8765498e73050366"]]},{"id":"8765498e73050366","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"UV Index 1","measurement":"uvi1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1210,"y":80,"wires":[]},{"id":"e11a9e744a0b27a2","type":"function","z":"2ac0b7ccf22d33df","name":"function 3","func":"var violet = msg.payload.AS7341[\"415nm/Violet\"]\nmsg.payload = violet\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":120,"wires":[["586c7c2de30e63fb"]]},{"id":"586c7c2de30e63fb","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Violet1","measurement":"violet1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1190,"y":120,"wires":[]},{"id":"a359c5e3055605f9","type":"function","z":"2ac0b7ccf22d33df","name":"function 4","func":"var indigo = msg.payload.AS7341[\"445nm/Indigo\"]\nmsg.payload = indigo\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":160,"wires":[["addc865d7c959ae2"]]},{"id":"1a095d31bc404983","type":"function","z":"2ac0b7ccf22d33df","name":"function 5","func":"var blue = msg.payload.AS7341[\"480nm/Blue\"]\nmsg.payload = blue\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":200,"wires":[["0dc31dc2c6eef48d"]]},{"id":"5d827448ca0dd6c5","type":"function","z":"2ac0b7ccf22d33df","name":"function 6","func":"var cyan = msg.payload.AS7341[\"15nm/Cyan\"]\nmsg.payload = cyan\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":240,"wires":[["4dc94301015f65eb"]]},{"id":"6cb108c71153f95e","type":"function","z":"2ac0b7ccf22d33df","name":"function 7","func":"var green = msg.payload.AS7341[\"555nm/Green\"]\nmsg.payload = green\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":280,"wires":[["8af2a54f3120a696"]]},{"id":"66a2b1f214bc198f","type":"function","z":"2ac0b7ccf22d33df","name":"function 8","func":"var yellow = msg.payload.AS7341[\"590nm/Yellow\"]\nmsg.payload = yellow\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":320,"wires":[["355925317158eb40"]]},{"id":"addc865d7c959ae2","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Indigo1","measurement":"indigo1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1200,"y":160,"wires":[]},{"id":"0dc31dc2c6eef48d","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Blue1","measurement":"blue1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1190,"y":200,"wires":[]},{"id":"8af2a54f3120a696","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Green1","measurement":"green1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1200,"y":280,"wires":[]},{"id":"4dc94301015f65eb","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Cyan1","measurement":"cyan1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1190,"y":240,"wires":[]},{"id":"355925317158eb40","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Yellow1","measurement":"yellow1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1200,"y":320,"wires":[]},{"id":"53edc850ba9c1e13","type":"function","z":"2ac0b7ccf22d33df","name":"function 9","func":"var orange = msg.payload.AS7341[\"630nm/Orange\"]\nmsg.payload = orange\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":360,"wires":[["83f606323d86a573"]]},{"id":"4d403cb1ae140d17","type":"function","z":"2ac0b7ccf22d33df","name":"function 10","func":"var red = msg.payload.AS7341[\"680nm/Red\"]\nmsg.payload = red\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":400,"wires":[["e6ccdf311de23b3e"]]},{"id":"83f606323d86a573","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Orange1","measurement":"orange1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1200,"y":360,"wires":[]},{"id":"e6ccdf311de23b3e","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Red1","measurement":"red1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1190,"y":400,"wires":[]},{"id":"24d321574acfa699","type":"function","z":"2ac0b7ccf22d33df","name":"function 11","func":"var nir = msg.payload.AS7341[\"Near-IR (NIR)\"]\nmsg.payload = nir\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":440,"wires":[["289331f696a58c39"]]},{"id":"cfef65b7dade27a6","type":"function","z":"2ac0b7ccf22d33df","name":"function 12","func":"var clear = msg.payload.AS7341.Clear\nmsg.payload = clear\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":480,"wires":[["4e92e24ddcdd4ab6"]]},{"id":"289331f696a58c39","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"NIR1","measurement":"nir1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1190,"y":440,"wires":[]},{"id":"4e92e24ddcdd4ab6","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Clear1","measurement":"clear1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1190,"y":480,"wires":[]},{"id":"14dde5865231a1ee","type":"mqtt in","z":"2ac0b7ccf22d33df","name":"Light Node (Lower Tray)","topic":"tele/light_node1","qos":"0","datatype":"auto-detect","broker":"92799e6ceb26ce4c","nl":false,"rap":true,"rh":0,"inputs":0,"x":1560,"y":200,"wires":[["b35720361ff88a03","4bd6f3f8acc8b633","56c339c5f0da70d3","410a7293f56f8073","82fdab450bb2d34b","e1d88c30c6b633b8","60863990058bd5d3","657040034f316858","d99e0fc3f7d411e9","bd0b82cebcc5f2dd","861a8f902fab501d","ea4d973313f236ac","fca6475068fe9611","43f579d85025642f","3ab02a4dd6443eaa","565e036c414802c7","034abf042cbd3077","7f612d08f86aa90b","fae85edd37799043","aa0a1aaa9173b9dc","2e48fc0d66ab042b","cdb33c7660bf981c","af869494feb3e98f","cceea0f739639876"]]},{"id":"b35720361ff88a03","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"illuminance 2","entityConfig":"018cf03d8c3850df","version":0,"state":"payload.LTR390.Lux","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"x":1850,"y":140,"wires":[[]]},{"id":"18c369ef8f1c6e70","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"UV Index 2","entityConfig":"57817051aeb2255d","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1850,"y":200,"wires":[[]]},{"id":"4bd6f3f8acc8b633","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"415nm/Violet/2","entityConfig":"c6765543dcaafb48","version":0,"state":"payload.AS7341[\"415nm/Violet\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1860,"y":260,"wires":[[]]},{"id":"56c339c5f0da70d3","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"445nm//Indigo/2","entityConfig":"81ba0e13b98240e7","version":0,"state":"payload.AS7341[\"445nm/Indigo\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1860,"y":320,"wires":[[]]},{"id":"410a7293f56f8073","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"480nm/Blue/2","entityConfig":"29de4c58e6f5108b","version":0,"state":"payload.AS7341[\"480nm/Blue\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1860,"y":380,"wires":[[]]},{"id":"82fdab450bb2d34b","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"515nm//Cyan/2","entityConfig":"4017b1b857862dd8","version":0,"state":"payload.AS7341[\"15nm/Cyan\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1860,"y":440,"wires":[[]]},{"id":"e1d88c30c6b633b8","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"555nm/Green/2","entityConfig":"ef31e72248b0b703","version":0,"state":"payload.AS7341[\"555nm/Green\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1860,"y":500,"wires":[[]]},{"id":"60863990058bd5d3","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"590nm/Yellow/2","entityConfig":"0a95eacb1fe38d73","version":0,"state":"payload.AS7341[\"590nm/Yellow\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1860,"y":560,"wires":[[]]},{"id":"657040034f316858","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"630nm/Orange/2","entityConfig":"c83cae222b5e68a4","version":0,"state":"payload.AS7341[\"630nm/Orange\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1870,"y":620,"wires":[[]]},{"id":"d99e0fc3f7d411e9","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"680nm/Red/2","entityConfig":"80038d5cf302ded1","version":0,"state":"payload.AS7341[\"680nm/Red\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1860,"y":680,"wires":[[]]},{"id":"bd0b82cebcc5f2dd","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"NIR/2","entityConfig":"2ed3f3fda3eda8b4","version":0,"state":"payload.AS7341[\"Near-IR (NIR)\"]","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1830,"y":740,"wires":[[]]},{"id":"861a8f902fab501d","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"Clear/2","entityConfig":"68419a0f24f0cb43","version":0,"state":"payload.AS7341.Clear","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1840,"y":800,"wires":[[]]},{"id":"ed6dad8a527a053a","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Lux2","measurement":"lux2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2230,"y":40,"wires":[]},{"id":"ea4d973313f236ac","type":"function","z":"2ac0b7ccf22d33df","name":"function 13","func":"var lux = msg.payload.LTR390.Lux\nmsg.payload = lux\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":40,"wires":[["ed6dad8a527a053a"]]},{"id":"fca6475068fe9611","type":"function","z":"2ac0b7ccf22d33df","name":"function 14","func":"var uvi = msg.payload.LTR390.UVI\nmsg.payload = uvi\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":80,"wires":[["32d046538ee9bb0d"]]},{"id":"32d046538ee9bb0d","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"UV Index 2","measurement":"uvi2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2250,"y":80,"wires":[]},{"id":"43f579d85025642f","type":"function","z":"2ac0b7ccf22d33df","name":"function 15","func":"var violet = msg.payload.AS7341[\"415nm/Violet\"]\nmsg.payload = violet\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":120,"wires":[["22e2a8d07f8174f7"]]},{"id":"22e2a8d07f8174f7","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Violet2","measurement":"violet2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2230,"y":120,"wires":[]},{"id":"3ab02a4dd6443eaa","type":"function","z":"2ac0b7ccf22d33df","name":"function 16","func":"var indigo = msg.payload.AS7341[\"445nm/Indigo\"]\nmsg.payload = indigo\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":160,"wires":[["4d3aeca4937a24d3"]]},{"id":"565e036c414802c7","type":"function","z":"2ac0b7ccf22d33df","name":"function 17","func":"var blue = msg.payload.AS7341[\"480nm/Blue\"]\nmsg.payload = blue\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":200,"wires":[["312058002269d922"]]},{"id":"034abf042cbd3077","type":"function","z":"2ac0b7ccf22d33df","name":"function 18","func":"var cyan = msg.payload.AS7341[\"15nm/Cyan\"]\nmsg.payload = cyan\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":240,"wires":[["b0adf857cc8261f3"]]},{"id":"7f612d08f86aa90b","type":"function","z":"2ac0b7ccf22d33df","name":"function 19","func":"var green = msg.payload.AS7341[\"555nm/Green\"]\nmsg.payload = green\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":280,"wires":[["072414545f5fe5c1"]]},{"id":"fae85edd37799043","type":"function","z":"2ac0b7ccf22d33df","name":"function 20","func":"var yellow = msg.payload.AS7341[\"590nm/Yellow\"]\nmsg.payload = yellow\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":320,"wires":[["0dacd955343f7c1d"]]},{"id":"4d3aeca4937a24d3","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Indigo2","measurement":"indigo2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2240,"y":160,"wires":[]},{"id":"312058002269d922","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Blue2","measurement":"blue2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2230,"y":200,"wires":[]},{"id":"072414545f5fe5c1","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Green2","measurement":"green2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2240,"y":280,"wires":[]},{"id":"b0adf857cc8261f3","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Cyan2","measurement":"cyan2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2230,"y":240,"wires":[]},{"id":"0dacd955343f7c1d","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Yellow2","measurement":"yellow2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2240,"y":320,"wires":[]},{"id":"aa0a1aaa9173b9dc","type":"function","z":"2ac0b7ccf22d33df","name":"function 21","func":"var orange = msg.payload.AS7341[\"630nm/Orange\"]\nmsg.payload = orange\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":360,"wires":[["10f018bbf8ea432f"]]},{"id":"2e48fc0d66ab042b","type":"function","z":"2ac0b7ccf22d33df","name":"function 22","func":"var red = msg.payload.AS7341[\"680nm/Red\"]\nmsg.payload = red\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2090,"y":400,"wires":[["9d1907303a7930df"]]},{"id":"10f018bbf8ea432f","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Orange2","measurement":"orange2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2240,"y":360,"wires":[]},{"id":"9d1907303a7930df","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Red2","measurement":"red2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2230,"y":400,"wires":[]},{"id":"cdb33c7660bf981c","type":"function","z":"2ac0b7ccf22d33df","name":"function 23","func":"var nir = msg.payload.AS7341[\"Near-IR (NIR)\"]\nmsg.payload = nir\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2090,"y":440,"wires":[["7de7151a9ae3a3a2"]]},{"id":"af869494feb3e98f","type":"function","z":"2ac0b7ccf22d33df","name":"function 24","func":"var clear = msg.payload.AS7341.Clear\nmsg.payload = clear\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2090,"y":480,"wires":[["f3ca29c393e6803b"]]},{"id":"7de7151a9ae3a3a2","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"NIR2","measurement":"nir2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2230,"y":440,"wires":[]},{"id":"f3ca29c393e6803b","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Clear2","measurement":"clear2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2230,"y":480,"wires":[]},{"id":"90f76ca7e8af346b","type":"mqtt in","z":"2ac0b7ccf22d33df","name":"Soil Node (Lower Tray)","topic":"tele/soil_node1","qos":"0","datatype":"auto-detect","broker":"92799e6ceb26ce4c","nl":false,"rap":true,"rh":0,"inputs":0,"x":1560,"y":920,"wires":[["e2d9c42a0a5bae76"]]},{"id":"bbacfe39e0f37808","type":"mqtt in","z":"2ac0b7ccf22d33df","name":"Soil Node (Upper Tray)","topic":"tele/soil_node2","qos":"0","datatype":"auto-detect","broker":"92799e6ceb26ce4c","nl":false,"rap":true,"rh":0,"inputs":0,"x":480,"y":920,"wires":[["ca79ac960f3bfbf0"]],"info":"Soil Node 2"},{"id":"b176574959490863","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"Soil Moisture (Upper Tray)","entityConfig":"02f69a47cc07b65e","version":0,"state":"payload.sm","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":980,"wires":[[]]},{"id":"597c4c881953db22","type":"function","z":"2ac0b7ccf22d33df","name":"function 25","func":"var soilm = msg.payload.sm\nmsg.payload = soilm\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":1040,"wires":[["d8645384ab60ee9e"]]},{"id":"d8645384ab60ee9e","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Soil Moisture 1","measurement":"soilm1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":940,"y":1040,"wires":[]},{"id":"e46148fb596c1960","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"Soil Moisture (Lower Tray)","entityConfig":"b9f6d3d801766d06","version":0,"state":"payload.sm","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1870,"y":980,"wires":[[]]},{"id":"7ac2bb0a82cb72be","type":"function","z":"2ac0b7ccf22d33df","name":"function 26","func":"var soilm = msg.payload.sm\nmsg.payload = soilm\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":1040,"wires":[["78597f452d565751"]]},{"id":"ca79ac960f3bfbf0","type":"range","z":"2ac0b7ccf22d33df","minin":"1.4","maxin":"2","minout":"100","maxout":"0","action":"scale","round":true,"property":"payload.sm","name":"Map value","x":790,"y":920,"wires":[["b176574959490863","597c4c881953db22"]]},{"id":"e2d9c42a0a5bae76","type":"range","z":"2ac0b7ccf22d33df","minin":"1.4","maxin":"2","minout":"100","maxout":"0","action":"scale","round":true,"property":"payload.sm","name":"Map value","x":1830,"y":920,"wires":[["e46148fb596c1960","7ac2bb0a82cb72be"]]},{"id":"78597f452d565751","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Soil Moisture 2","measurement":"soilm2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":2000,"y":1040,"wires":[]},{"id":"9fd5a62c8a2443a3","type":"comment","z":"2ac0b7ccf22d33df","name":"Light Node","info":"","x":160,"y":200,"wires":[]},{"id":"e42816f540361150","type":"comment","z":"2ac0b7ccf22d33df","name":"Soil Node","info":"","x":160,"y":920,"wires":[]},{"id":"8c235cf58ea681ed","type":"comment","z":"2ac0b7ccf22d33df","name":"Air Node","info":"","x":160,"y":1160,"wires":[]},{"id":"96d0029f3384759e","type":"mqtt in","z":"2ac0b7ccf22d33df","name":"Air Node","topic":"tele/air_data","qos":"0","datatype":"auto-detect","broker":"92799e6ceb26ce4c","nl":false,"rap":true,"rh":0,"inputs":0,"x":440,"y":1160,"wires":[["b9f6074903e08121","9fbd4219b3ba2c78"]],"info":"Soil Node 2"},{"id":"94a3188617c4e1e4","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"Air Temperature","entityConfig":"387de940ba37d319","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":1160,"wires":[[]]},{"id":"23b63e0b8b4e2940","type":"ha-sensor","z":"2ac0b7ccf22d33df","name":"Air Humidity","entityConfig":"8dc3482d1cac1720","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":1220,"wires":[[]]},{"id":"b9f6074903e08121","type":"function","z":"2ac0b7ccf22d33df","name":"function 27","func":"var temp = msg.payload.Temperature\nmsg.payload = parseFloat(temp.toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1160,"wires":[["94a3188617c4e1e4","388533952d2d718f"]]},{"id":"9fbd4219b3ba2c78","type":"function","z":"2ac0b7ccf22d33df","name":"function 28","func":"var temp = msg.payload.Humidity\nmsg.payload = parseFloat(temp.toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1220,"wires":[["23b63e0b8b4e2940","09514635f9dd5a78"]]},{"id":"388533952d2d718f","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Air Temperature","measurement":"airtemp","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":820,"y":1120,"wires":[]},{"id":"09514635f9dd5a78","type":"influxdb out","z":"2ac0b7ccf22d33df","influxdb":"395fd36f11ce6f14","name":"Air Humidity","measurement":"humid","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":810,"y":1280,"wires":[]},{"id":"ca1ee6f57f6bd2fa","type":"function","z":"2ac0b7ccf22d33df","name":"function 29","func":"var uv = msg.payload.LTR390.UVI\nmsg.payload = parseFloat(uv.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":200,"wires":[["87b08422273e6a8f"]]},{"id":"cceea0f739639876","type":"function","z":"2ac0b7ccf22d33df","name":"function 30","func":"var uv = msg.payload.LTR390.UVI\nmsg.payload = parseFloat(uv.toFixed(1))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":300,"wires":[["18c369ef8f1c6e70"]]},{"id":"92799e6ceb26ce4c","type":"mqtt-broker","name":"Vertical Farm MQTT Broker","broker":"localhost","port":"1883","clientid":"edgebox","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"422d1c31d1be6a0f","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"illuminance 1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"illuminance 1"},{"property":"icon","value":"mdi:white-balance-sunny"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"illuminance"},{"property":"unit_of_measurement","value":"lx"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"984777e35fe5df41","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"UV Index 1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UV Index 1"},{"property":"icon","value":"mdi:weather-sunny-alert"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"aa2550ec5bd7e16d","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"415nm/Violet/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"415nm/Violet/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"1081ec4a87c3a11d","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"445nm//Indigo/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"445nm//Indigo/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"02922d147e24beeb","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"480nm//Blue/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"480nm//Blue/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"c1e52103b14fe733","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"515nm//Cyan/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"515nm//Cyan/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"ea32de18c7e2269b","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"555nm/Green/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"555nm/Green/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"b6ce10d64dcc146f","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"590nm/Yellow/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"590nm/Yellow/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"aaa61786adb256c4","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"630nm/Orange/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"630nm/Orange/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"7fd9e24935733b20","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"680nm/Red/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"680nm/Red/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"affc43c61adc4013","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"NIR/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"NIR/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"7b87367611c7ccc2","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"Clear/1","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Clear/1"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"395fd36f11ce6f14","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"smart_vertical_farm","name":"Vertical Farm Database","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"018cf03d8c3850df","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"illuminance 2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"illuminance 2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"illuminance"},{"property":"unit_of_measurement","value":"lx"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"57817051aeb2255d","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"UV index 2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"UV index 2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"c6765543dcaafb48","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"415nm/Violet/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"415nm/Violet/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"81ba0e13b98240e7","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"445nm//Indigo/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"445nm//Indigo/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"29de4c58e6f5108b","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"480nm/Blue/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"480nm/Blue/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"4017b1b857862dd8","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"515nm//Cyan/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"515nm//Cyan/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"ef31e72248b0b703","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"555nm/Green/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"555nm/Green/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"0a95eacb1fe38d73","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"590nm/Yellow/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"590nm/Yellow/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"c83cae222b5e68a4","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"630nm/Orange/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"630nm/Orange/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"80038d5cf302ded1","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"680nm/Red/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"680nm/Red/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"2ed3f3fda3eda8b4","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"NIR/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"NIR/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"68419a0f24f0cb43","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"f28eba72f09759b3","name":"Clear/2","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Clear/2"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"02f69a47cc07b65e","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"09851782a7ed422a","name":"Soil Moisture (Upper Tray)","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Soil Moisture (Upper Tray)"},{"property":"icon","value":"mdi:water"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"moisture"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"b9f6d3d801766d06","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"09851782a7ed422a","name":"Soil Moisture (Lower Tray)","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Soil Moisture (Lower Tray)"},{"property":"icon","value":"mdi:water"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"moisture"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"387de940ba37d319","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"09c55b2769c2cbe1","name":"Air Temperature","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Air Temperature"},{"property":"icon","value":"mdi:thermometer"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"8dc3482d1cac1720","type":"ha-entity-config","server":"2ceaaf90.d3d6","deviceConfig":"09c55b2769c2cbe1","name":"Air Humidity","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Air Humidity"},{"property":"icon","value":"mdi:cloud-percent"},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"humidity"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"2ceaaf90.d3d6","type":"server","name":"Home Assistant","addon":true},{"id":"f28eba72f09759b3","type":"ha-device-config","name":"Light Node","hwVersion":"1","manufacturer":"Cytron","model":"1","swVersion":"1"},{"id":"09851782a7ed422a","type":"ha-device-config","name":"Soil Node","hwVersion":"1","manufacturer":"Node-RED","model":"1","swVersion":"1"},{"id":"09c55b2769c2cbe1","type":"ha-device-config","name":"Air Node","hwVersion":"1","manufacturer":"Node-RED","model":"1","swVersion":"1"}]